.root {
  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;

    .wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 0;
    }
  }
}
